* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

body {
  font-family: 'Trebuchet Ms', sans-serif;
  text-align: center;
  background: linear-gradient(#1ba374, #78f0c6);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}
